.sidebar-toggle-box .fa-bars {color:#1ABB9C;}
.sidebar-toggle-box {
    float: left;
    margin-top: 17px;
    margin-left: -15px;
    background: transparent;
    width: 32px;
    height: 32px;
    position: absolute;
    right: -15px;
}
.sidebar-toggle-box:hover .fa-bars, .sidebar-toggle-box:focus .fa-bars {color:#1ABB9C;}

ul.top-menu>li>a:hover .custom-icon, ul.top-menu>li>a:focus .custom-icon{ color:#fff;}

ul.top-menu>li>a {background-color:#1ABB9C; color:#fff;}
.top-nav ul.top-menu>li>a {background-color:transparent; color:#1ABB9C; border:none;}
.top-nav ul.top-menu>li>a span {color:#1ABB9C;}
.top-nav ul.top-menu>li>a .caret {border-bottom-color: #1ABB9C;
    border-top-color: #1ABB9C;}
	.top-nav ul.top-menu>li>a:hover, .top-nav ul.top-menu>li>a:focus {background-color:transparent !important; border:none;}
	
	.top-nav ul.top-menu>li>a:hover .caret, .top-nav ul.top-menu>li>a:focus .caret {border-bottom-color: #1ABB9C;
    border-top-color: #1ABB9C;}
	
	a.logo {margin: 8px 0 0 0px;}
	
	.form-signin h2.form-signin-heading {font-size:22px; font-weight:bold; background-color:#1ABB9C;border-bottom: none;}
	.form-signin .btn-login {background-color:#1ABB9C;}
	.form-signin a, .form-signin a:hover {color:#1ABB9C;}
	
	/* Checkboxes */
	
	.customlabel input[type="checkbox"] ~ i.fa.fa-square-o{
    color: #1ABB9C;    display: inline; font-size:19px;
}

.customlabel input[type="checkbox"] {display:none !important;}

.customlabel input[type="checkbox"] ~ i.fa.fa-check-square-o{
    display: none;
}
.customlabel input[type="checkbox"]:checked ~ i.fa.fa-square-o{
    display: none;
}
.customlabel input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
    color: #1ABB9C;    display: inline; font-size:19px;
}
.customlabel:hover input[type="checkbox"] ~ i.fa {
color: #1ABB9C;
}

.customlabel span {font-weight:normal; margin-left:5px;}

#forgotpwd .modal-header {background-color:#1ABB9C;}
#forgotpwd .modal-header h4 {color:#fff;}

#forgotpwd .modal-body p{color:#333;}

.main-btn {background-color:#1ABB9C; color:#fff; padding:8px 15px; border:none; border-radius:4px; 
/*    margin-right:20px;*/
}
.danger-btn {background-color:#e30707; color:#fff; padding:8px 15px; border:none; border-radius:4px;}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {background-color:#1ABB9C;}

.brand {background-color:#2a3f54;/*  border-right:2px solid #1ABB9C */}
.sidebar-toggle-box {right:-46px;}
.sidebar-toggle-box:hover, .sidebar-toggle-box:focus {
    background: tranparent;
}

.dropdown-menu.extended.logout>li>a {color:#1ABB9C;}
.main-bg {background-color:#1ABB9C;}
.secondary-bg {background-color:#1ABB9C;}
.third-bg {background-color:#c3a515;}
.main-color {color:#1ABB9C;}

.mini-stat-info span {font-size:25px; margin-left:90px;}
.mini-stat-info p {font-size:14px; margin-left:90px;}
.mini-stat-icon {width:70px; height:70px;line-height: 69px;
    font-size: 34px;}
	
	.projectlist {overflow:hidden;}
	.projectlist .panel-heading {color:#fff; font-size:15px;}
	.tools a {color:#fff;}
	
	.projectlist table th {color:#1ABB9C; border-bottom:2px solid #1ABB9C !important; font-size:14px;}

	
	/* Charts  */
	
	.highcharts-title {font-size:16px !Important;}
	
	.highcharts-contextbutton {display:none;}
	.highcharts-container {height:380px !Important;}
	
	
	/*24-04-17   Jai*/

#cust-login input {

  
  display: block;

  border: none;

  padding: 17px 0;

  border-bottom: solid 1px #1abc9c;

  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);

  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
background:transparent;

  color: #1ABB9C !important;
  border-radius:0px !important;
 width:100%;
   
}


#cust-login input:focus, #cust-login input:valid {

 box-shadow: none;

 outline: none;
border-color:none !important;
 background-position: 0 0;

}
input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus, .cmxform .form-group input.error, .cmxform .form-group textarea.error {
    border-color: #1ABB9C !important;
}
#cust-login input::-webkit-input-placeholder {

 font-family: 'roboto', sans-serif;

 -webkit-transition: all 0.3s ease-in-out;

 transition: all 0.3s ease-in-out;

}

#cust-login input:focus::-webkit-input-placeholder, #cust-login input:valid::-webkit-input-placeholder {

 color: #1ABB9C !important;

 font-size: 11px;

 -webkit-transform: translateY(-20px);

 transform: translateY(-20px);

 visibility: visible !important;
 width:100%;

}
.regadjust{ padding-top: 0px !important;}

#reg-login input,textarea {

  
  display: block;

  border: none;

  padding: 10px 0;

  border-bottom: solid 1px #1abc9c;

  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);

  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);

  color: color: #737373 !important;
  border-radius:0px !important;
 width:100%;
    padding-top: 15px;
}


#reg-login input:focus, #cust-login input:valid, #reg-login textarea:focus, #cust-login textarea:valid {

 box-shadow: none;

 outline: none;
border-color:none !important;
 background-position: 0 0;

}
input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus, .cmxform .form-group input.error, .cmxform .form-group textarea.error {
    border-color: #1ABB9C !important;
}
#reg-login input::-webkit-input-placeholder, #reg-login textarea::-webkit-input-placeholder {

 font-family: 'roboto', sans-serif;

 -webkit-transition: all 0.3s ease-in-out;

 transition: all 0.3s ease-in-out;

}


#reg-login input:focus::-webkit-input-placeholder, #cust-login input:valid::-webkit-input-placeholder {

 color: #1ABB9C !important;

 font-size: 11px;

 -webkit-transform: translateY(-20px);

 transform: translateY(-20px);

 visibility: visible !important;
 width:100%;

}
#reg-login textarea:focus::-webkit-input-placeholder, #cust-login textarea:valid::-webkit-input-placeholder {

 color: #1ABB9C !important;

 font-size: 11px;

 -webkit-transform: translateY(-20px);

 transform: translateY(-20px);

 visibility: visible !important;
 width:100%;
    

}
.reg-wrap {
    padding: 10px;
    position: relative;
}
.form-signin p {
    text-align: left;
    color: #1ABB9C;
    font-size: 14px;
    font-weight: 600;
}
.form-signin h2.form-signin-heading {background: #1ABB9C;}

.form-reg {
    max-width: 520px;
 margin: 30px auto;
}
.reg-login-info {
    margin: -20px -20px 0px -20px;
    padding: 15px 20px 20px 20px;
}
.reg-bottom {margin-bottom:15px}
.modal-body {
    position: relative;
    padding: 15px;
    background: #eaeaec;
}


@media screen and (min-width: 479px) {
     .cust-body {
    margin-top: 80px !important;
}
}
@media (max-width: 320px){

.breadcrumbs-alt {
    list-style-type: none;
    margin: -6px 0 6px;
    /* margin: -3px 0 18px; */
    overflow: hidden;
/*    padding-bottom: 17px;*/
    width: 100%;
}
    .cpbtn {
    margin-top: -11px;
    margin-right: 2px;
    margin-left: -2px !important;
}
  
    .vnmodelcmpltbtn {
    margin-top: 10px !important;
    margin-right: 2px ;
}
    .vnmodelcmpltbtn1{
  margin-top: 14px !important;
    margin-right: 2px !important;
    
}
/*
     .braeadcrumbs-dashboardresponsive{
             margin: -8px 0 -30px !important;
            
        }
*/
}
@media screen and (max-width: 1024px) {
.dbalign {
    margin-top: 2px;
/*    margin-bottom: 10px;*/
}
    .cpbtn {
    margin-top: -11px;
    margin-right: 2px;
    margin-left: 22px;
}
}

/*   End CSS Jai  */

.panel-heading {
/*   padding:5px 13px;*/
    padding-top: 4px;
    padding-bottom: 4px;
}

.profile-information .profile-pic img {border: 10px solid #1ABB9C; padding:10px;}
.profile-information .profile-statistics h1 { color:#fff;}
.panel-heading .nav>li.active>a, .panel-heading .nav>li>a:focus {
    color: #1ABB9C !important;
    border-bottom: 4px !Important;
    background-color: #fff !important
  
}


 .panel-heading .nav>li>a {
         background-color: #1ABB9C !important;
    color: #fff !important;
    border-color: #fff;
         border-color: #1ABB9C !important;
     
} 
 .position-center {
    width: 100%;
}
.prf-personal h2 {padding-left:0px !important}
.prf-contacts h2 {padding-left:15px;letter-spacing: 0.5px;} 

.tasi-tab {padding:20px !important;}

.profilebtns {margin-top:20px;margin-bottom:20px;}
.profilebtns1{margin-bottom: 30px;}  

/* User Dashboard  */

.recentprojects .panel-heading {
    color: #fff;
    font-size: 15px;
}
.recentprojects h5 {color:#333; font-size:15px; font-weight:600;}
.recentprojects h4{
    color: #1ABB9C;
    font-size: 15px;
    font-weight: 600;
}
.controls .left, .controls .right {background-color:#1ABB9C; color:#fff; padding:5px; border-radius:0px;margin-right:10px; margin-top:5px;}

.custom-btn {margin-left:50px;}
.main-btn:hover, .main-btn:focus, .main-btn:active {background-color:#1ABB9C; color:#fff;}

.btn-details {color:#333; font-size:15px; margin-top:15px;}
.btn-details a {color:#333; font-size:15px; margin-left:10px;}

.breadcrumbs-alt a:hover, .breadcrumbs-alt a.current {background-color:#1ABB9C;}

.breadcrumbs-alt a:hover:after, .breadcrumbs-alt a.current:after {

    border-left: 1em solid #1ABB9C;
    /*adding for small changes by ashok*/
/*
    padding-top: 3px;
    padding-bottom: 0px;
    margin-top: -20px;
*/
    
}
.breadcrumbs-alt a:hover:before, .breadcrumbs-alt a.current:before {
    border-color: #1ABB9C #1ABB9C #1ABB9C rgba(0,0,0,0);
    
}
.recent-project table td{ padding-top:10px !important;
   

}/*height:60px;*/
/*.recent-project table td:first-child {padding-top:10px !important; }*/


/*  Request Project  */

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card {
	background-color:#d86827;
 margin:0px 15px 25px 15px;
 padding: 10px 5px 23px 15px;
  line-height: 1.5em;
  border-radius:6px;
      height: 85px;
  }
.card2 {
	background-color:#3a98d0;
 margin:0px 15px 25px 15px;
  padding: 10px 5px 23px 15px;
  line-height: 1.5em;
  border-radius:6px;
      height: 85px;
  }
  .card3 {
	  background-color:#e4ba59;
 margin:0px 15px 25px 15px;
  padding: 10px 5px 23px 15px;
  line-height: 1.5em;
  border-radius:6px;
      height: 85px;
  }
.product-title {
  margin-top: 0;
   margin-bottom: 15px;}


.mr-5{
    font-size: 10px;
    background-color: #1ABB9C;
    color: #ff9f1a;
}
.desc-text{
 text-align:justify;
 color:#515151;
 font-size: 16px;
}
.price{
font-size: 26px;
color: #1ABB9C;
 text-transform: UPPERCASE;
  font-weight: bold;
}

.margintop {margin-top:20px;}

.project-desc p {font-size:14px; text-align:justify;}

.profile-desk p {margin-top:20px;}

.recent-project .panel-heading {color:#fff;}

/* Search Bar  */

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot');
	src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff') format('woff'),
		url('../fonts/icomoon/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.sb-search {
	position: relative;
	margin-top: 10px;
	width: 0%;
	min-width: 40px;
	height: 40px;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden; margin-bottom:15px;
}

.sb-search-input {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	width: 100%;
	height: 40px;
	margin: 0;
	z-index: 10;
	padding: 20px 65px 20px 20px;
	font-family: inherit;
	font-size: 20px;
	color: #2c3e50;
}

.sb-search-input::-webkit-input-placeholder {
	color: #1ABB9C;
}

.sb-search-input:-moz-placeholder {
	color: #1ABB9C;
}

.sb-search-input::-moz-placeholder {
	color: #1ABB9C;
}

.sb-search-input:-ms-input-placeholder {
	color: #1ABB9C;
}

.sb-icon-search,
.sb-search-submit  {
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
}

.sb-search-submit {
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}

.sb-icon-search {
	color: #fff;
	background: #1ABB9C;
	z-index: 90;
	font-size: 22px;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.sb-icon-search:before {
	content: "\e000";
}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
	width: 100%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	background: #1ABB9C;
	color: #fff;
	z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}

.card table tbody tr td {border:none;}


/*  Media Screens  */

/*media screens*/

@media only screen and ( min-width:769px) and (max-width: 1024px ){
    .input-group {
    margin-top: -12px;
    /* margin-top: -2px; */
    margin-right: 0px;
}
    .browsebtn {
    padding-right: 57px !important;
    margin-top: 10px;
}
}
/*
@media only screen and (min-width: 1025px ) and (max-width:1440){
    
    .input-group {
    margin-top: -12px;
     margin-top: -2px; 
    margin-right: -43px;
}
}
*/
   

@media only screen and ( min-width:768px) and (max-width: 1024px ){
.tab .nav-tabs li a{
    font-size: 13px;
    font-weight: 600;
    color: #999;
    text-transform: uppercase;
    background: #fff;
/*    margin-right: -9px;*/
    border-radius: 0;
    border:1px;
    position: relative;
    transition: all 0.5s ease 0s; 
    height:50px;
}
}

  @media screen and (max-width: 768px) {
   .form-signin {
    margin: 40px auto;
}
      .adjustaddbtn a {
    /* padding-top: 8px; */
    margin-bottom: 16px;
}
      .input-group {
     margin-top: -12px;
    /* margin-top: -2px; */
    margin-right: -14px;
    margin-left: -30px;
}
      .brfileadjust {
    margin-top: -4px !important;
}
  }
@media screen and (min-device-width: 481px) and (max-device-width: 768px) { 
    /* STYLES HERE */
}

    @media screen and (max-width: 425px) {
  .sidebar-toggle-box {
       right: 25px;
}
        .braeadcrumbs-dashboardresponsive {
             margin: -8px 0 -15px;
            
        }
        .heading-admindashboradresponsive span{
            text-align: left !important;
            
        }
        .braeadcrumbs-dashboardresponsiveuser{
            margin: -8px 0 7px;  
        }
        
        .panel {
    border: none;
    box-shadow: none;
    margin-top: 15px;
        }
        .form-group {
    margin-bottom: 15px;
    margin-left: -28px;
    margin-right: 28px;
    padding-left: 44px;
/*    margin-top: -18px;*/
}
        .renovationcostadjustments_text{
            margin-bottom: 15px;
            padding-left: 0px;
            
        }
        .input-group {
    margin-top: 8px !important;
    /* margin-top: -2px; */
    margin-right: -14px;
    margin-left: -30px;
}
        a.logo {
/*    margin: -8px 0 0 0px;*/
        margin:-8px 12px -6px -12px;
}
        
.sidebar-toggle-box {
/*
    margin-top: 42px;
   
*/
    margin-top: 18px;
}
  }


    @media screen and (max-width: 375px) {
  .sidebar-toggle-box {
    right: 20px;
}
.sidebar-toggle-box {
/*    margin-top: 36px;*/
        margin-top: 13px;
   
}
        .cpbtn {
    margin-top: -11px;
    margin-right: 2px;
    margin-left: 10px;
}
  }
    @media screen and (max-width: 325px) {
  .sidebar-toggle-box {
      right: 20px;
}
.sidebar-toggle-box {
/*    margin-top: 32px;*/
    margin-top: 21px;
   
}
         a.logo {
/*    margin: -6px 0 0 0px;*/
/*             margin: 9px 0 0 0px;*/
                 margin: 5px 17px 0px -15px;
}
        
        
  }



  .panel-heading{color:#fff;letter-spacing: 0.5px;}
  .manageusers table tr td img {float:left; margin-right:5px;}
  
  .alert-notification {background-color:rgba(51, 139, 122, 0.3); color:#1ABB9C;}
  
  .notification-content {padding:15px;}
   /* jai css*/
  /* slider css*/
  
#jssor_1 {width:100% !important;background-color: #fff !important;}
.jssora05l {left:260px !important;width: 45px !important;
    height: 45px !important;}
.jssora05r {right: 57px !important; width: 45px !important;
    height: 45px !important;}
.details h2 {margin-top:0px}
/* jai css*/


/*Raghava*//*Raghava*//*Raghava*//*Raghava*//*Raghava*//*Raghava*/
.select-style {
    margin-top: 14px;
    border: none;
    width: 100%;
    border-bottom: 1px solid;
    border-radius: 0px;
    overflow: hidden;
    border-bottom: solid 1px #1abc9c;
    background: transparent;
  margin-bottom: 13px;

}
.select_box{
        margin-top: 23px;
    border: none;
    width: 100%;
    border-bottom: 1px solid;
    border-radius: 0px;
    overflow: hidden;
    border-bottom: solid 1px #1abc9c;
    background: transparent;
    margin-bottom: 13px;
}

.select-style select {
    width: 105%;
    border: none;
    box-shadow: none;
    background: transparent;
    color: #767676;
    margin-left: -13px;
}

.select-style select:focus {
    outline: none;
}
.location-style{margin-bottom: 0px !important;}

.select-style1 {
  
    margin-top: 7px;
    margin-left: 10px;
    border: none;
    width: 31%;
    border-bottom: 1px solid;
    border-radius: 0px;
    overflow: hidden;
    border-bottom: solid 1px #1abc9c;
    background: transparent;
    margin-bottom: 0px;
 }
.select-style1 select{
    width: 118%;
    border: none;
    box-shadow: none;
    background: transparent;
    color: #767676;
    margin-left: -13px;
}
.available-from{
     margin-top: 18px;
    font-size: 14px;
 padding-left: 0px;
}
.txtarea-padd{
 padding-top:30px !important;
}

.Rent {margin-top:20px;}

/*radio Buttons*/



label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #1fb5ad;    display: inline;
}
label input[type="radio"] ~ i.fa.fa-dot-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
    color: #1fb5ad;    display: inline;
}
label:hover input[type="radio"] ~ i.fa {
color: #1fb5ad;
}
.radiobutton-size{font-size:18px;   }
.share-space{ margin-top: 7px;
    font-size: 14px;
}

/*radio Buttons*/



/*Raghava*//*Raghava*//*Raghava*//*Raghava*/

table tr th {
    color: #1ABB9C;
    border-bottom: 1px solid #1ABB9C !important;
}
table tr td img {cursor:pointer;}
.mangaeicons tbody tr td a img{
    display:inline-block;
    padding-left: 10px;
}
.general-table tbody td a{
/*    padding-right: 10px;*/
    color:#1ABB9C;
}
.general-table tbody td a i{
    font-size: 12px;
} 
.editprf{
    padding-left: 5px;
    padding-right: 5px;
}


/* 28-07-17 CSS Sulthan*/

.edit {padding:5px; background-color:#1ABB9C; border-radius:20px; font-size:15px !Important; color:#fff; float:left; margin-right:3px; position:relative;}
.delete {padding:5px 6px; background-color:#1ABB9C; border-radius:20px; font-size:15px !Important; color:#fff; float:left; position:relative;}

.default-btn {
    background-color:#1ABB9C; color:#fff !important; padding:9px 15px; border:none; border-radius:4px; 
/*    margin-right:3px;*/
    margin-right: -11px;
}

.file {
  visibility: hidden;
  position: absolute;
}

.renovationcosttable td a img {float:left;}
/*text latel*/

label {font-weight:normal;color:#656565;margin-bottom:0px;}
.cust-form-group {
     margin-right: 0px !important;
    margin-left: 0px !important;
}

.custom-input {    height: 40px !important; }
.sucesspopup{
    color:#1ABB9C
}
.success-icon {padding:7px; background-color:#1ABB9C; color:#fff; text-align:center; border-radius:30px;}

#successmsg .modal-footer {text-align:center !important;}
#successmsg .close {margin-top:-9px;}

.hide-sidebar {margin-left:0px !Important;}

.vhmodel i{color:#1ABB9C; font-size:13px; margin-right:3px;}
.edit2 i{color:#1ABB9C; font-size:13px; margin-right:3px;}
.delete2 i{color:#1ABB9C; font-size:13px; margin-right:3px;}
.termsheet i{color:#1ABB9C; font-size:13px; margin-right:3px;}

/ VH Model Page CSS /
.tab .nav-tabs{
    position: relative;
    border-bottom: 0 none;
    background: #fff;
}
.tab .nav-tabs li{
    text-align: center;
/*    margin-right: 9px;*/
    width: 16.6%;
}
.nav-tabs {
    border-bottom: none;
}
.tab .nav-tabs li a{
    font-size: 13px;
    font-weight: 600;
    color: #999;
    text-transform: uppercase;
    background: #fff;
/*    margin-right: -9px;*/
    border-radius: 0;
    border:1px;
    position: relative;
    transition: all 0.5s ease 0s; 
/*    height:50px;*/
}
.tab .nav-tabs li:last-child a,
.tab .nav-tabs li:last-child.active a,
.tab .nav-tabs li:last-child a:hover{
  
}
.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a{
    background-color: #1ABB9C; color:#fff;
/*    border-bottom: 3px solid #1ABB9C;*/
    border-top:none; border-left:none;
    border-right: none;
}
.tab .tab-content{
    font-size: 13px;
    color: #6f6c6c;
    line-height: 26px;
    padding: 20px 10px;
    background-color:#fff; 
    margin-top:15px;
/*containermodification*/
    margin-right: 5px;
}
.tab .tab-content h3{
    font-size: 24px;
    color: #6f6c6c;
    margin-top: 0;
}
@media only screen and (max-width: 480px){
    .tab .nav-tabs li{
        width: 100%;
        margin-bottom: 8px;
    }
}
.vhmodeltable thead th{
    background-color: #1ABB9C;
    color: white !important;
    
    
}


#nav-accordion {height:93%;}
.cpbtn{
   margin-top: -21px;
    margin-right: 2px;
        height: 40px;
    color: #fff !important;
        padding-top: 11px;
    
}
.vnmodelcmpltbtn{
   margin-top: -19px;
    margin-right: 2px;
    
}
.vnmodelcmpltbtn1{
   margin-top: -19px;
    margin-right: 10px;
    
}

.brfileadjust{
   margin-top: -21px;
   
}
.adjustaddbtn a{
    
}
.homeicon{
    margin-top: 1px;
    padding: 5px 6px;
    background-color: #1ABB9C;
    border-radius: 30px;
    color:#fff !Important;
    
}
.editicon{
    font-size:22px;
    margin-top: 1px;
    padding: 5px 5px;
    background-color: #1ABB9C;
    border-radius: 30px;
    color:#fff !Important;
}
.termicon{
    font-size:19px;
    padding: 5px 6px;
    background-color: #1ABB9C;
    border-radius: 30px;
    color:#fff !Important;
}
.removeicon{
    font-size:19px;
    padding: 5px 6px;
    background-color: #1ABB9C;
    border-radius: 30px;
    color:#fff !Important;
    
}
.removemngicon {
    /* font-size: 19px; */
    padding:4px 6px 4px 6px;
    background-color: #1ABB9C;
    border-radius: 33px;
    color: #fff !Important;
}

.default-btn:hover {color:#fff !Important}
/* edit profile modifications*/
.prfmodife {
    margin-top: 5px;
}
.changepwdftr{
    text-align: center !important;
}
.changepwdhdr{
    margin-top: -8px !important;
}
.profilepadd{
    padding: 5px;
}
.profilepadd h2 {margin-bottom: 0px !important;}
.regalready{
    text-align: right;
}
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    padding: 5px 10px;
        vertical-align: middle;
		letter-spacing: 0.5px;
		font-weight:normal;
}
.panel-body {
    padding: 7px 3px !important;
}
.tab-bg-dark-navy-blue ul>li>a {
    display: block;
    padding: 10px 15px !important;
}
.mrg-top-15{
    margin-top: 12px !important;
}

.manage-remove {width:26px;float:left;padding-top: 3px;}

.onoffswitch2 {
    position: relative; width: 88px; overflow:hidden;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch2-checkbox {
    display: none;
}

.onoffswitch2-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 5px;
}

.onoffswitch2-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch2-inner:before, .onoffswitch2-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 24px;
    padding: 0;
    line-height: 23px;
    font-size: 12px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.onoffswitch2-inner:before {
    content: "Active";
    padding-left: 10px;
    background-color: #1ABB9C; color: #FFFFFF;
}

.onoffswitch2-inner:after {
    content: "Deactive";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch2-switch {
    display: block; width: 18px; margin: 0px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 5px;
    position: absolute; top: 0; bottom: 0; right: 68px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
}

.onoffswitch2-checkbox:checked + .onoffswitch2-label .onoffswitch2-inner {
    margin-left: 0;
}

.onoffswitch2-checkbox:checked + .onoffswitch2-label .onoffswitch2-switch {
    right: 0px; 
}
.verticaltbl tr th{
    border-bottom: #fff !important;
    background-color:#1ABB9C;
    color:#fff;
    
}
.verticaltbl tbody tr th:hover{
    border-bottom: #fff !important;
    background-color:#1ABB9C;
    color:none;
   
    
}
.verticaltbl>tbody>tr:hover>th{
    background-color: #1ABB9C !important;
    color:#fff;
}

.verticaltbl thead tr:first-child {text-align:center !important;}
.vhmodeltableadjst{
    padding-left: 15px;
    padding-right: 15px;
    
}
#median-tooltip{
   position: absolute;  
}
.vhmdlbtnalign{
padding-left: 15px;
    padding-right: 19px;
}


.vcvhmdlhead{
    height: 35px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -4px;
    margin-bottom: 5px;
    text-align: center;
    padding-top: 1px;
    background-color: #1ABB9C;
    color:#fff;
}
.adjstinviewall{
        padding: 5px 9px ;
    
}
.panel-heading1 {
    /* padding: 5px 13px; */
    padding-top: 1px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    margin-right: 2px;
    margin-left: 15px;
}
.cpbtn1{
    margin-top: 20px;
    margin-right: 2px;
    
}
.serachbtn{
   padding-top: 5px;
    margin-top: -14px;
    color: #1ABB9C;
    height: 40px;
    border-color: #1ABB9C !Important;
}
.serachbtnicon{
margin-top: -14px;
    margin-right: 52px;
    background-color: #1ABB9C !important;
    height: 40px;
    border-color: #1ABB9C !Important;
    
}
.input-group{
/*margin-top: -12px;*/
    margin-top: 0px;
}
.searchbuttonadjustment{
     margin-top: -7px;
}
 .serachbtnicon:hover {
    background-color: #1ABB9C;
    
}
.project-value thead > tr > th{
    text-align: center !important;
}
.project-value thead > tr > td{
    text-align: right !important;
}
.project-value tbody > tr > th{
    text-align: center !important;
}
.project-value tbody > tr > td{
    text-align: right !important;
}
.verticaltbl thead > tr > th{
    text-align: center !important;
}
.seconchildalign tr td:last-child {text-align:right !important;} 
.lasttwochildalign tr td:nth-last-child(-n+2) {
  text-align:right !important;
} 
.thirdchildalign tr td:nth-last-child(-n+3) {
  text-align:right !important;
}
.sixchildalign tr td:nth-last-child(-n+6) {
  text-align:right !important;
}
.fifteenchildalign tr td:nth-last-child(-n+15) {
  text-align:right !important;
}
.recent-project{
    overflow: hidden;
    float:left;
    background-color: transparent;
   
}

.no-padding-left{padding-left:0px;}
.no-padding-right{padding-right:0px;}

.stabizedproformaadjust thead > tr > th{
    text-align: right !important;
}
 .stabizedproformaadjust tbody > tr > td{
    text-align: right !important;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff;
    opacity: 1;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #FFF;
    text-align: center;
    background-color: #1ABB9C;
    border: -3px solid #ccc;
    border-radius:6px;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #1ABB9C;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #1ABB9C;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus, .pagination > li.active > a, .pagination > li.active > a:hover {
    background-color: #1ABB9C;
    border-color: #1ABB9C;
    z-index:-1;
    color: #fff;
}
 .vcvhmdlhead h4 {
    font-family: inherit;
    font-weight: 500;
    line-height: 0.1;
    color: inherit;
     padding-top: 2px;
}
.browsebtn{
        padding-right: 15px;
        margin-top: 10px;
}
.addbtn{
        padding-top: 11px;
    /* margin-top: 0px; */
    height: 40px;
    
}
.srchicon{ height: 40px;
}
.no-padding-left{
    padding-left:0px;
}
.no-padding-right{
    padding-right:0px;
}
.input-group .form-control:not(:first-child):not(:last-child), .input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child) {
    border-radius: 0;
    border-color: #1ABB9C;
}
.input-group-addon:first-child {
    border-right: 0;
    border-color: #1ABB9C;
}
.serachbtnicon:focus, .serachbtnicon:active, .serachbtnicon.active, .open .dropdown-toggle.serachbtnicon {
    background-color: #1ABB9C !important;
    border-color: #1ABB9C !!mportant;
    color: #fff !important;
}
.pcvhmdlhead {
    height: 35px;
    /* margin-left: 15px; */
    /* margin-right: 15px; */
    margin-top: -4px;
    margin-bottom: 5px;
    text-align: center;
    padding-top: 1px;
    background-color: #1ABB9C;
    color: #fff;
}

@media (max-width: 425px){

.vcvhmdlhead {
    height: 35px;
    margin-left: 15px; 
    /* margin-right: 15px; */
    margin-top: -4px;
    margin-bottom: 5px;
    text-align: center;
    padding-top: 1px;
    background-color: #1ABB9C;
    color: #fff;
}
    .breadcrumbs-alt li {
    float: left;
    margin: -1px 25px 8px 0;
    transition: all 0.3s ease-in-out 0s;
}
    .cpbtn {
    margin-top: -6px;
    margin-right: 2px;
}
    
}
.iconsz{
height: 23px;
    padding-top: 2px;
}
@media screen and (max-width: 767px){
   
.headiconstp{
    text-align: left !important;
    
}
.headiconstu{
    text-align: left !important;
    
}
  
        }
.cpbtn:hover {
    color: #fff !Important;
}


.headiconspl{
    float:left;
}
.headiconstp{
    text-align: center;
    
}
.headiconstu{
    text-align: right;
    
}

@media only screen and ( min-width:768px) and (max-width: 1024px ){

.responsivetbl-adjustadmindashboard{
    white-space: nowrap;
}
}
.btn.focus, .btn:focus, .btn:hover browsebtn{
    color: #fff;
    text-decoration: none;
    
}
/*pie chart*/
.datalabelInside {
    position:absolute;
}
#datalabelInside1 {
    color:#fff;
    left:-150px;
}

@media only screen and ( min-width:768px) and (max-width: 1024px ){
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 5px;
}
.tab .nav-tabs li a {
    font-size: 11px;
    font-weight: 600;
    color: #999;
    text-transform: uppercase;
    background: #fff;
    /* margin-right: -9px; */
    border-radius: 0;
    border: 1px;
    position: relative;
    transition: all 0.5s ease 0s;
    /* height: 50px; */
}
}
@media only screen and ( min-width:1025px) and (max-width: 1440px ){
    .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 11px;
}
    
}
.tddata{
    color: #6f6c6c;
}
.tddata:focus{
    border: 1px solid #1ABB9C;
}
/* glyphicon setting into table text box */
/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 8px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
.yesnotoggle{
        margin-top: 4px;
    border: none;
    width: 100%;
    border-bottom: 1px solid;
    border-radius: 0px;
    overflow: hidden;
    border-bottom: solid 1px #1abc9c;
    background: transparent;
    margin-bottom: 13px;

}
.zeroonetoggle{
    margin-top: 6px;
    border: none;
    width: 100%;
    border-bottom: 1px solid;
    border-radius: 0px;
    overflow: hidden;
    border-bottom: solid 1px #1abc9c;
    background: transparent;
    margin-bottom: 13px;
}
/*pie chart adjustments */
.raphael-group-3-creditgroup tspan{
    display: none;
}
.raphael-group-111-creditgroup tspan{
    display:none;
}


@media only screen and ( min-width:320px) and (max-width: 500px ){
    .piechartadjustments{
    margin-left:0px;
        margin-right:0px;
    
}
    
}
/*css for fixed footer */
  .fixed-bottom {
	background: #fff;
    height: 70px;
/*    bottom: 0;*/
    width: 100%;
    position: absolute;
    box-shadow:1px 0 3px rgba(0,0,0,.15);
    
}

.footer-para{
    text-align: center;
    padding-top: 25px;
}



@media (min-width: 1200px) {
    
    .fixed-bottom {
 bottom: 0;
   
    
}
}

.card-icon {width:70px;float:left;}
.card-title {padding-top:12px;}
.card-title h4 {
    text-align: center;
    color: #fff;
}
.card-title h3 {
    text-align: center;
    color: #fff;
}
.nopaddingleft{
	padding-left:0px;
}
.nopaddingright{
	padding-right:0px;
}
.breadcrumb {
    padding: 5px 15px;
    margin-bottom: 10px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
	letter-spacing: 0.4px;
}
.tasi-tab {
    padding: 0 15px !important;
}
.panel-space {
    padding: 10px 15px 0 15px!important;
}
.top-nav ul.top-menu>li>a:hover, .top-nav ul.top-menu>li>a:focus {    border-radius: 0px;
    -webkit-border-radius: 0px;}
.project-summary  .edit-icon {color: #3d4390;}
.project-summary  .view-icon {color: #1ec362;}
.project-summary  .delete-icon {color: #ff2727;}
.cust-over{
	overflow:hidden;
}
.btn-login {
    background-color: #1ABB9C;
	color:#fff;
}
.btn-login:hover {
    background-color: #1ABB9C;
	color:#fff;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #efefef;
}
#circle-red {
      width: 20px;
      height: 20px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: #dd4b39;
    }
	#circle-orange {
      width: 20px;
      height: 20px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: #f39c12;
    }
	#circle-green {
      width: 20px;
      height: 20px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: #00a65a;
    }
	#circle-red-sm {
	margin-top:2px;
      width: 12px;
      height: 12px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: #dd4b39;
    }
	#circle-orange-sm {
		margin-top:2px;
      width: 12px;
      height: 12px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: #f39c12;
    }
	#circle-green-sm {
		margin-top:2px;
      width: 12px;
      height: 12px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: #00a65a;
    }
	.leg-txt{font-size:11px;}
	.green-alter{
    background: #00a65a;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    padding: 18px 0px 0px 20px;
    font-size: 22px;
    color: #fff;
    border: 2px solid #000;
	margin-right:5px;
}
.green-alter a {color:#fff;}
.red-alter{
    background: #dd4b39;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    padding: 18px 0px 0px 25px;
    font-size: 22px;
    color: #fff;
    border: 2px solid #000;
	margin-right:5px;
}
.red-alter a {color:#fff;}
.white-alter{
    background: white;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    padding: 18px 0px 0px 20px;
    font-size: 22px;
    color: #fff;
    border: 2px solid #000;
	margin-right:5px;
}
.white-alter a {color:#000;}
.orange-alter{
    background: #f39c12;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    padding: 18px 0px 0px 25px;
    font-size: 22px;
    color: #fff;
    border: 2px solid #000;
	margin-right:5px;
}
.orange-alter a {color:#fff;}
.mrg-btm-15{margin-bottom:15px;}
.mrg-btm-8{margin-bottom:8px;}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}
.form-control {height: 25px;border-radius:1px;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {line-height: 0.1;letter-spacing: 0.4px;}
.form-group {
    margin-bottom: 8px;
}
.btn {
	padding: 3px 12px;
	font-size: 13px;
	border-radius:1px;
}
p{letter-spacing: 0.4px;}
#EditProfile label {text-align:left;letter-spacing: 0.4px;}
h2 {
    color: #1ABB9C;
    font-size: 13px;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 700;
}
.img-grid img {
    width: 100px;
    height: 90px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 1px #ccc;
    margin-top: 5px;
}
.dashboard-rec .form-group {
    margin-bottom: 0px;
}
.panel {
    margin-bottom: 0px;
}
.form-control:focus, #focusedInput {
    border: 1px solid #1ABB9C;
    box-shadow: none;
}
.hr-dot {
    margin-top: 7px;
    margin-bottom: 7px;
    border: 0;
    border-top: 1px solid #1ABB9C;
}
.pluse{
	padding: 2.3px 12px;
	border-color: #1ABB9C;
}
.pluse:hover {
	padding: 2.3px 12px;
	border-color: #1ABB9C;
}
.pluse:focus {
	padding: 2.3px 12px;
	border-color: #1ABB9C;
	background-color: #1ABB9C;
}
.pluse:visited {
	padding: 2.3px 12px;
	border-color: #1ABB9C;
	background-color: #1ABB9C;
}
.pluse:active {
	padding: 2.3px 12px;
	border-color: #1ABB9C;
	background-color: #1ABB9C;
}
.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover {border-color: #1ABB9C;
	background-color: #1ABB9C;}
	
.info-box {
    display: block;
    min-height: 72px;
    /* background: #f7f7f7; */
    width: 100%;
    box-shadow: 0 0px 10px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
    border: 1px solid #e4e4e4;
}
.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
    background-color: #00c0ef !important;
}
.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
    background-color: #dd4b39 !important;
}
.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
    background-color: #00a65a !important;
}
.bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {
    background-color: #f39c12 !important;
}
.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
	margin-top: 7px;
}
.info-box-text {
    text-transform: uppercase;
}
.progress-description, .info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	letter-spacing: 0.4px;
	    text-align: center;
}
.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
	    text-align: center;
}
.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 70px;
    width: 90px;
    text-align: center;
    font-size: 34px;
    line-height: 71px;
    background: rgba(0,0,0,0.2);
}
.info-box-icon i {color:#fff;}